/* row and column styling */
.row {
    margin-bottom: 20px;
}
.row .row {
    margin: 0
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-fluid {
    width: 90%;
}
/* body styling */
body {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #CC0066;
    text-decoration: none;
}
p {
    font-size: 1.4em;
}
h4 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.8em;
    font-weight: 800;
}
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.header1 {
    padding-top: 0.75em;
}
.narrow {
    font-family: 'Archivo Narrow', sans-serif;
}
.narrow_text {
    
}
.narrow_row {
    padding: 0px;
}
.emphasis{
    font-style: italic;
}
/* global styling */
.page_wrapper {

}
.magenta {
    color: #CC0066;
}
.grey {
    color: #A0A0A0;
}
#border_adjustment{
    background-color: grey;
    padding: 0.25em;
}

/* starter section */
.starter_template {
    padding: 0 15px;
    text-align: center;
}
#header_text{
    font-size: 4em;
    font-weight: 900;
}

/* sidebar section */
#sidebar {
    text-align: left;
    padding-top: 0;
    border-left: solid grey 2px;
}

/* main details section */
#main_details {
    border-left: solid grey 2px;
    text-align: left;
    padding-top: 0;
}

#featured_img {
    width: 40%;
}

#cv_btn_top button, #cv_btn button, #cv_btn_2 button{
  background-color: black;
}

#cv_btn_top button:hover, #cv_btn button:hover, #cv_btn_2 button:hover {
    background-color: #CC0066;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justified {
    text-align: justify;
}

/******* media queries *******/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (max-width: 350px) { 
    .email h4 {
        font-size: 0.9em;
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 640px) { 
    .container {
        width: 100%;
    }
    #main_details, #sidebar {
        border-left: none;
    }
    h4 {
        font-size: 1.1em;
    }
    p {
        font-size: 1em;
    }
    
    .hidden_sml {
        display: none;
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 
    .container {
        width: 100%;
    }
    #main_details, #sidebar {
        border-left: none;
    }
    h4 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    #header_text{
        font-size: 3.7em;
    }
    .hidden_sml {
        display: none;
    }

}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 
    .container {
        width: 100%;
    }
      .hidden_sml {
        display: none;
    }
    

}

/* Medium devices (desktops, 992px and up) */
@media only screen 
  and (min-width: 990px) 
  and (max-width: 1215px) 
  and (orientation: landscape) { 
       .container {
        width: 100%;
    }
      h4 {
          font-size:  1.28em;
      }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1000px) { 
    .hidden_lrg{
        display: none;
    }

}